name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled

  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !contains('ref/heads/main', github.ref) }}

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: nicknovitski/nix-develop@v1

      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-v1-
          restore-keys: |
            ${{ runner.os }}-cargo--

      - name: Check formatting
        run: |
          nix fmt -- --ci
          cargo fmt --check
          actionlint
          nix run '.#gen-supported-languages'
          git diff --exit-code

      - name: Run tests
        run: |
          cargo check
          cargo test
